<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
      If !user, disable form
      If current_user_id matches user_id associated with comment, enable delete function.
      <div>
        <%= form_for [@product, @comment] do |f| %>
        <%= f.text_area :description %>
        <%= f.select :rating, options_for_select([[1], [2], [3], [4], [5]]) %> Stars
        <%= f.submit "Create"%>
        <% end %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-vertical">
          <dd><%"Username should be here when the user_id is being validated again"%></dd>
          <dd><%= render "comments" %></dd>
        </dl>
      </div>


  </article>

</section>
